body {
    background-color: lightgray;
}

button>label {
    cursor: pointer;
    /* Pointer/hand icon */
}

button {
    /* max-width: 80%; */
    font-size: large;
    padding: 10px 24px;
    /* Some padding */
    margin: 5px 5px;
    cursor: pointer;
    /* Pointer/hand icon */
}

.btn-group {
    /* display: flex;
    justify-content: space-between; */
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(n, 1fr);
    gap: 10px;
}

/* .btn-group button { */
/* padding: 10px 24px; /* Some padding */
/* float: left; /* Float the buttons side by side */
/* } */
button.selected {
    background-color: lightBlue;
}

div#quizz {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    text-align: center;
    font-size: xx-large;
}
div#quizz > div {
    width:100%;
}

div#quizz > div > p {
    margin-top: 5px;
    margin-bottom: 5px;
}
div#quizz > div > h3 {
    margin-top: 5px;
    margin-bottom: 5px;
}

video.myvideo {
    height: 400px;
}

img {
    height: 400px;
}

input[type="text"] {
    width: 80%;
}

input[type="file"] {
    display: none;
}

.yt-embed-holder {
    overflow: hidden;
    pointer-events: none;
}

.yt-embed-holder iframe {
    width: 400%;
    height: 400px;
    margin-left: -150%;
}

table {
    border-collapse: collapse;
    /* width:80%; */
}
table, th, td {
    border: 0px solid;
  }
td>button {
    width:100%;
    margin:0px;
  }
button.validAnswer{
    background-color: green;
    color:white;
    font-size: x-large;

}
button.nonValidAnswer{
    background-color: red;
    color:black;
    font-size: x-large;
}

.center {
    margin-left: auto;
    margin-right: auto;
  }